@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #181e27;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #0B0F14;
}
footer{
    background-color: rgb(137, 128, 153);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}
footer a{
   text-decoration: none;
   font-weight: 700; 
   color: chartreuse;
}
#titulo{
    margin-bottom: 30px;
    color: white;
}
#filtros{
    color: white;
   display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
}
h3{
    display: inline;
    padding: 5px;
}  
select{
    font-weight: bold;
    text-align: center;
} 
option{
    font-weight: bold;
    text-align: center;
}
main{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 10px;  
    background-color: #10141a;
    box-shadow: 2px 2px 50px 2px rgba(0, 0, 0, 0.514);
    border-radius: 15px;
}
#principal{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.personagem{
    width: 100%;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.imagem{
    height: 80%;
}
.cinco-estrelas{
    background: linear-gradient(180deg, #6a4b1f 0%, #c89b3c 50%, #f7d77a 100%);
    box-shadow: 0 0 20px rgba(255, 215, 100, 0.4);
}
.quatro-estrelas{
     background: linear-gradient(180deg, #3b2a5a 0%, #6a4ba3 50%, #9b6fd3 100%);
     box-shadow: 0 0 20px rgba(155, 111, 211, 0.4);
}
.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.complemento{
    background-color: rgb(242, 255, 255);
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.texto{
    font-weight: 500;
    font-size: 18px;
}
.esconder{
    display: none;
}